:root {
  --primary: #d81e5b;
  --secondary: #8a4fff;
  --grey: rgb(138, 138, 138);
  --main: #131a26;
  --sub: rgb(141, 141, 141);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--main);
}
main {
  padding: 3rem 2rem;
  max-width: 640px;
  margin: 0 auto;
}

h1 {
  color: var(--sub);
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  color: var(--grey);
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.counter {
  background-color: var(--sub);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--main);
}

.value {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.controls button {
  margin: 0 0.5rem;
}

.btn {
  margin: 5px;
  padding: 5px;
  color: var(--sub);
}

.btn:hover {
  color: var(--primary);
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;

  transition: 0.4s ease-out;
}

button:hover {
  color: var(--secondary);
}

button span {
  display: block;
  transition: 0.4s ease-out;
}

.save {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.save button {
  color: var(--sub);
}

.save button:hover {
  color: var(--main);
  background-color: var(--sub);
  border-radius: 25px;
}

button:active {
  transform: scale(1.1);
}
